.container_new{
  display: flex;
  justify-content: center;
  flex-direction: column;
    align-items: center;
    height: 100%
}
.input_css{
  border-radius: 9px;
    padding: 5px;
    margin: 15px;
   
    height: 32px;
    width: 447px;
}
.butto_css{
  width: 440px;
}


.btnwuqhj{
  background: black;
    border-radius: 8px;
    color: white;

}
.joint_btn{
  display: flex;
  justify-content: right;
  width: 422px;
  gap: 5px;
}

.show_content{
  width: 428px;
    /* height: 320px; */
    display: flex;
    margin: 15px;
    background: lightgrey;
}
.task{
  padding: 3px;
}

